{% extends 'layout.html' %}

{% block title %}
    Registration
{% endblock %}

{%  block main %}

    <div class="form-border">
        <h3>Registration</h3>
        <form id="reg-form" action="/register" method="post">
            <div class="form-group">
                <input id='username' autocomplete="off" autofocus class="form-control" type="text" name="username"
                       placeholder="Username">
            </div>

            <div class="form-group">
                <input id='password' class="form-control" type="password" name="password" placeholder="Password">
            </div>

            <div class="form-group">
                <input id='confirm-password' class="form-control" type="password" name="confirmation"
                       placeholder="Password">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    </div>

    <script>
        document.getElementById("reg-form").onsubmit = function () {
            const username = document.getElementById("username").value;
            const pwd =document.getElementById("password").value;
            const confirm_pwd = document.getElementById("confirm-password").value;

            if (!username){
                alert("You must provide your username");
                return false;
            }
            else if(!pwd){
                alert("You must provide password");
                return false;
            }

            else if(!confirm_pwd){
                alert("You must provide confirm-password");
                return false;
            }
            else if(pwd != confirm_pwd){
                alert("Passwords do not match !")
                return false;
            }
            return true;
        };
    </script>

{%  endblock %}