{% extends 'layout.html' %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="form-border">
        <h3>Sell Shares</h3>
        {% if symbols %}
            <form class="form-group" method="post" action="/sell">
                <div class="form-group">
                    <select class="form-control" name="symbol">
                        <option selected disabled>Symbol</option>
                        {% for symbol in symbols %} }}
                            <option>{{ symbol }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input id='shares' class="form-control" type="number" min="1" name="shares" placeholder="Shares">
                </div>

                <button class="btn btn-primary" type="submit">Sell</button>
            </form>
        {% else %}
            Look like you don't have any shares. Buy some shares first!
        {% endif %}
    </div>

{% endblock %}